build
twine
flake8
eventlet
pytest
pytest-asyncio
pytest-timeout
pre-commit
mypy
git+https://github.com/svinota/pyroute2.git@master
# pyroute2==0.9.1rc1
pydantic
pydantic-settings
networkx
matplotlib
kubernetes
kubernetes-stubs
ipaddress
